.flexy-layout {
    display: inline-block;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}


.flexy-layout > .block {
    display: inline-block;
    float: left;
    overflow: hidden;
}

.flexy-layout.flexy-layout-column > .block {
    height: 100%;
}

.flexy-layout.flexy-layout-row > .block {
    width: 100%;
}

.block.splitter {
    position: relative;
    overflow: visible;
}

.flexy-layout.flexy-layout-column > .splitter{
    width: 5px;
}

.flexy-layout.flexy-layout-row > .splitter{
    height: 5px;
}

.ghost {
    float: left;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: 99;
    cursor: col-resize;
}

.block-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}