.flexy-layout{
    position: relative;

    display: inline-block;
    width: 100%;
    height: 300px;
    background-color: lightcyan;
    box-sizing: border-box;
    overflow: hidden;
}

.flexy-layout > .block{
    display: inline-block;
    height: 100%;
    float: left;
    overflow: hidden;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    transform:translateZ(0);
    -moz-transform:translateZ(0);
    transition: width 0.8s ease-in-out ;
    -moz-transition: width 0.8s ease-in-out ;
    -webkit-transition: width 0.8s ease-in-out;
}

.block.splitter{
    width: 5px;
    background: black;
}


.block-content{
    display: inline-block;
    padding: 5px;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}

.block-content div{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: greenyellow;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
}

.ghost{
    display: inline-block;
    height: 100%;
    width: 100%;
    cursor: col-resize;
}

.ghost:hover{
    background: orange;
}

