.block {

    transition: all 0.8s;

}

.ghost {
    background: orange;
}

.block-content {
    display: inline-block;
    padding: 5px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    background: lightskyblue;
}

.block-content div {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #226699;

    box-sizing: border-box;
    overflow: hidden;
}

.block-content  .block-content {
    background: white;
}

body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}